<h1>ini adalah halaman about</h1>
<ul>
  <li>
    <a href="/"> home</a>
  </li>
  <li>
    <a href="/about">about</a>
  </li>
  <li>
    <a href="/contact">contact</a>
  </li>
  <li>
    <a href="/data">data</a>
  </li>
  <li><a href="/product/10">product 10</a></li>
</ul>
